<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1" name="viewport">
<link rel="stylesheet" href="/style.css" type="text/css"/>
</head>
<body>
<h1>bookmarks</h1>
<p>add links below</p>
<form action="/save" method="post">
<input name="link" type="text"></input>
<button type="submit">save</button>
</form>
{{if .Bookmarks }}
<ul>
{{ range .Bookmarks }}
	<li><a href="{{.Link}}">{{if .Title }}{{.Title}}{{else}}{{.Link}}{{end}}</a> | <a href="/delete/{{.Id}}">remove</a></li>
{{end}}
</ul>
{{else}}
<p>no bookmarks</p>
{{end}}
</body>
</html>

